pyjsparser
colorlog>=6.8.2
phply==1.0.0
portalocker>=2.8.2
prettytable>=3.10.0
rarfile>=4.2
requests>=2.32.3
Werkzeug>=3.0.6
esprima==4.0.1
jsbeautifier>=1.15.1
beautifulsoup4>=4.12.3
django>=4.2,<6
mysqlclient>=2.2.4
