{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}调试日志{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="box-header with-border">
      <h3 class="box-title">任务配置</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- text input -->
        <div class="form-group">

          <label>任务名称：</label>
          <div class="checkbox" id="rule">
            {{ task.task_name }}
          </div>
        </div>
        <div class="form-group">
          <label>参数配置：</label>
          <textarea class="form-control" rows="3" placeholder="任务参数详情" name="parameter_config" disabled>{{ task.parameter_config }}</textarea>
        </div>
        <!-- checkbox -->
    </div>
    </div>

      <div class="box">
        <div class="box-header">
            <h3 class="box-title">调试日志<small> {{ task.task_name }}</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="card">
            <!-- /.box-header -->
            <div class="box-body">
<pre class="language-python line-numbers">
<code class="language-python">
{{ debuglog_content }}
</code>
</pre>
            </div>
            <!-- /.box-body -->
          </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    </div>
{% endblock %}

{% block script %}

<script src="{% static 'js/prism.js' %}"></script>

<script>
      $(document).ready(function () {
          $("#dashboard").removeClass("active menu-open");
          $("#dashboard").find("ul li").removeClass("active");
          $("#tasks").addClass("menu-open");
          $("#tasks").find("ul").find("li#task_list").addClass("active");
          $("#tasks").find("ul").css("display","block");
      });
</script>


{% endblock %}
