{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}规则详情{% endblock %}
{% block body_header %}
<h1>规则详情 <small>KunLun-MA</small></h1>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="card-title">规则详情<small> {{ rule.rule_name }}.py</small></h3>
            {% if rule.language %}
            <span class="badge bg-secondary">{{ rule.language }}</span>
            {% endif %}
            {% if rule.level == 1 %}<span class="badge bg-danger">高危</span>
            {% elif rule.level == 2 %}<span class="badge bg-warning">中危</span>
            {% elif rule.level == 3 %}<span class="badge bg-primary">低危</span>
            {% else %}<span class="badge bg-info">信息</span>{% endif %}
        </div>
        <div class="card">
            <div class="card-body">
{% if source_code %}
<pre class="language-python line-numbers"><code class="language-python">{{ source_code|force_escape }}</code></pre>
{% else %}
<pre class="language-python line-numbers"><code class="language-python">
{% include "dashboard/rules/rule_temp.html" %}
</code></pre>
{% endif %}
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{% static 'js/prism.js' %}"></script>

<script>
      $(document).ready(function () {
          $("#dashboard").removeClass("active menu-open");
          $("#dashboard").find("ul li").removeClass("active");
          $("#rules").addClass("menu-open");
          $("#rules").find("ul").find("li#rule_list").addClass("active");
          $("#rules").find("ul").css("display","block");
      });
</script>


{% endblock %}
